#mapid { 
	width: 100%;
    height: 90%;
    position: absolute;
 }

.logo>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    height: 60px;
}

#form1{
    margin-left:120px;
  }

.modal{
    color: black;
    
}